

<div class="row">
    <div class="col-xl-8 col-md-8 col-12 order-2">
        <main id="main" class="site-main">
            <header class="woocommerce-products-header">

            </header>
            <script>
                function findName(){
                    window.location = '/shop/paradigm/find?name='+ document.getElementById("findName").value;
                }
            </script>
            <div class="woocommerce-notices-wrapper"></div>
            <div class="startup-shop-toolbar clearfix">
                <input id="findName" placeholder="Tìm kiếm">

                <a  class="btn btn-danger" onclick="findName()">Tìm</a>
                <select onchange="javascript:hrefFind(this)" name="orderby" class="orderby float-right"
                        aria-label="Đơn hàng của cửa hàng">
                    <option th:each="f : ${FIGURES}" th:text="${f.figureName}" th:value="${f.id}"></option>
                </select>

                <script type="text/javascript">
                    function hrefFind(id) {
                        window.location = "http://localhost:8080/shop/paradigm/?findFid=" + id.value;
                    }
                </script>
                <div class="clearfix"></div>
            </div>
            <ul class="products columns-3">
                <div th:each="p,state : ${LIST_PARADIGM.content}">
                    <li th:class="${state.index  ==2 or state.index  ==5}?'product last':'product'">
                        <div class="product-image">
                            <th:block th:if="${p.quantity ==0}">
                                <span class="onsale">Hết hàng!</span>
                            </th:block>
                            <a th:href="@{'/shop/paradigm/detail?id='+${p.id}}"
                               class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                <figure class="hover_hide"><img width="300" height="300"
                                                                th:src="@{'/getimage/'+${p.image}}"
                                                                class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                alt=""
                                                                loading="lazy"/><img width="300" height="300"
                                                                                     th:src="@{'/getimage/'+${p.image}}"
                                                                                     class="woo-entry-image-secondary"
                                                                                     alt="[Chính Hãng]"
                                                                                     loading="lazy"/>
                                </figure>
                                </span>
                            </a>
                        </div>
                        <div class="product_wrap">
                            <h4 class="woocommerce-loop-product__title"> [[${p.paradigmName}]]
                            </h4>
                            <div class="price startup-shop-loop-price">
                                <del aria-hidden="true"><span
                                        class="woocommerce-Price-amount amount"></del>
                                <ins><span class="woocommerce-Price-amount amount"><bdi><span
                                        class="woocommerce-Price-currencySymbol"></span><th:block
                                        th:text="${#numbers.formatCurrency(p.price)}"></th:block> </bdi></span>
                                </ins>
                            </div>
                            <div class="clearfix"></div>
                            <div class="startup-loop-btn-wrap"><a th:href="@{'/shop/paradigm/addtoCart/'+${p.id}}"
                                                                  data-quantity="1"
                                                                  class="btn btn-danger"
                                                                  data-product_id="${p.id}" data-product_sku=""
                                                                  aria-label="Thêm &ldquo;[Chính Hãng] Banpresto Nami World Colosseum&rdquo; vào giỏ hàng"
                                                                  rel="nofollow">Thêm vào giỏ hàng<i
                                    class="icofont-cart-alt"></i></a></div>
                        </div>
                    </li>

                </div>

            </ul>
        </main>
    </div>
    <div class="col-xl-4 col-md-4 col-12 order-1 startup-shop-sidebar">

        <aside id="secondary" class="widget-area">
            <section id="woocommerce_product_categories-6" class="widget woocommerce widget_product_categories">
                <h3 class="widget-title"><span>Danh mục sản phẩm</span></h3>
                <ul th:each="c : ${CATEGORIES}" class="product-categories">
                    <li class="cat-item cat-item-34"><a th:href="@{'/shop/paradigm/?findCid='+${c.id}}"
                                                        th:text="${c.categoryName}"></a>
                    </li>
                </ul>
            </section>
        </aside><!-- #secondary -->
    </div>
</div>


<div div="row">
    <ul class="pagination pagination-lg justify-content-center">
        <th:block th:if="${LIST_PARADIGM.number}>0">
            <li class="page-item">
                <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                   th:href="@{${hrefPage}+${LIST_PARADIGM.number -1}}" th:text="'Pre'"
                   tabindex="-1"></a>
            </li>
        </th:block>
        <li class="page-item">
            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
               th:text="${LIST_PARADIGM.number+1}+'|'+${LIST_PARADIGM.totalPages}"
               tabindex="-1"></a>
        </li>
        <th:block th:if="${LIST_PARADIGM.totalPages-1}>${LIST_PARADIGM.number}">
            <li class="page-item">
                <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                   th:href="@{${hrefPage}+${LIST_PARADIGM.number +1}}" th:text="'Next'"
                   tabindex="-1"></a>
            </li>
        </th:block>
        <!--            <li th:each="i :${#numbers.sequence(0,LIST_PARADIGM.totalPages -1)}" class="page-item">-->
        <!--                <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" th:href="@{${hrefPage}+${i}}" th:text="${i +1}"-->
        <!--                   tabindex="-1"></a>-->
        <!--            </li>-->
    </ul>
</div>